.bg-war{
    width : 100%;
    height: 250px;
    margin-top: 0PX;
    background-color:rgb(218, 158, 47);
    padding :10px;
    display: flex;
    align-items: flex-start;
}
.me-auto{
    margin-top: 20px;
}
.active{
    margin-top: 25px;
    margin-left: 200px;
    font-size: 17px;
}
.active1 , .active2, .active3{
    margin-top: 25px;
    margin-left: 20px;
    color: white;
    font-size: 17px;
}

.nav-item1{
    margin-left: 10px;
    width: 200px;
    display: flex;
    flex-direction: row;
}
.nav-item2{
    height: 0px;
    margin-right: 70px;
}

